.centered {
   text-align: center 
}

body {
    background: floralwhite;
}
.topnav-centered a.active {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
